/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
/* space mono */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
/* azert mono */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind */
@layer base {
  /* colors */
  :root {
    /* text */
    --text: #aab2aa;
    /* text Dim */
    --textDim: #7b7b7b;
    /* border */
    --border: #2e332e;
    /* Background */
    --background: #0c0e0c;
    --background-50: #f6f7f6;
    --background-100: #e2e6e1;
    --background-200: #c5ccc3;
    --background-300: #a0aa9e;
    --background-400: #7b8879;
    --background-500: #606d5f;
    --background-600: #4b574a;
    --background-700: #3f473e;
    --background-800: #343b34;
    --background-900: #2e332e;
    --background-950: #0c0e0c;
    /* primary */
    --primary: #475a54;
    --primary-50: #f6f7f7;
    --primary-100: #e0e7e3;
    --primary-200: #c1cec9;
    --primary-300: #9aaea6;
    --primary-400: #758c84;
    --primary-500: #5a726a;
    --primary-600: #475a54;
    --primary-700: #3b4a46;
    --primary-800: #323d3a;
    --primary-900: #2c3532;
    --primary-950: #161d1a;
  }

  /* base */
  * {
    @apply m-0 box-border p-0 font-inter;
  }
  body {
    @apply flex h-screen w-screen overflow-hidden bg-background-default;
  }
  li {
    @apply list-none;
  }
  /* Scroll Bar */
  ::-webkit-scrollbar {
    @apply w-1;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-900 hover:bg-neutral-800;
  }
}
@layer components {
  /* components */
  .bg-grid {
    @apply bg-[linear-gradient(to_right,#80808013_1px,transparent_1px),linear-gradient(to_bottom,#80808013_1px,transparent_1px)] bg-[size:24px_24px];
  }
  .bg-gr {
    @apply bg-gradient-to-tr from-primary-400 to-primary-600;
  }
  .btn {
    @apply border-[1px] border-solid border-textDim bg-transparent px-4 py-[8px] font-mono text-text transition duration-200 hover:bg-primary-800;
  }
  /* chat */
  #chat-display .chat {
    @apply mx-auto my-10 flex flex-1 gap-4 md:max-w-3xl md:px-5 lg:max-w-[44rem] lg:px-1 xl:max-w-[52rem] xl:px-5;
  }
  #chat-display .outgoing {
    @apply justify-end;
  }
  #chat-display .loading {
    animation: loadingAnimation 0.5s linear; /* Adjust the animation duration as needed */
  }
}
/* End Tailwind */
/* start aside */
aside .convs-conv {
  @apply flex cursor-pointer flex-col justify-between overflow-x-hidden text-nowrap bg-transparent py-[11px] pl-5 pr-[14px] hover:bg-primary-default;
}
aside .convs-conv.active {
  @apply bg-primary-700;
}
aside .conv-label {
  @apply relative overflow-x-hidden text-nowrap font-azeret text-[13px] text-textDim md:text-[12px];
}
aside .text-shadow {
  @apply absolute bottom-0 right-0 top-0 w-8 bg-gradient-to-l from-background-default from-0% to-transparent;
}
aside .convs-conv.active .text-shadow {
  @apply from-primary-700;
}
.toggleOpacity *:not(.desktop-aside-toggle) {
  @apply opacity-80 transition-opacity duration-300;
}
.mobile-aside-toggle {
  @apply hidden;
}
@media (min-width: 55em) {
  aside[data-visibled="true"] {
    @apply w-0 transition-[width] duration-300;
  }
  aside[data-visibled="true"]
    *:not(.desktop-aside-toggle):not(.mobile-aside-toggle) {
    @apply invisible;
  }
}
@media (max-width: 55em) {
  .mobile-aside-toggle {
    @apply absolute -right-16 top-8 z-[9999] block aspect-square w-8 border-none bg-transparent bg-[url("../assets/icon-hamburger.svg")] bg-no-repeat opacity-30;
  }

  .mobile-aside-toggle[aria-expanded="true"] {
    @apply bg-[url("../assets/icon-close.svg")] opacity-30;
  }
  .desktop-aside-toggle {
    @apply hidden;
  }
}
/* End aside */
/* ---Outer-Section--- */
/* Start main */
@media (max-width: 55em) {
  main .page-header .table .convs-conv {
    @apply ml-[6rem] mt-[1.3rem] w-full p-0 pb-[15px];
  }
}
#user-input:valid ~ #send-button {
  @apply cursor-pointer opacity-100;
}
#user-input:valid ~ #send-button:hover {
  @apply fill-background-600;
}
.incoming,
.outgoing {
  animation: fadeIn 0.5s ease-in-out;
}

/* Animation */
@keyframes fadeIn {
  from {
    @apply opacity-0;
  }
  to {
    @apply opacity-100;
  }
}
@keyframes loadingAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
/* End main */