/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind */
@layer base {
  /* colors */
  :root {
    --main-color: #181818;
    --secondary-color: #4f4f4f;
    --primary-color: #000000;
    --primary-secondary: #171717;
    --white-color: #bbbbbb;
    --avWidth--: -webkit-fill-available;
  }

  /* base */
  * {
    @apply box-border p-0 m-0 font-inter
  }
  ::-webkit-scrollbar {
    @apply w-[7px]
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-woodsmoke-900;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-woodsmoke-800;
  }
  body {
    @apply flex flex-1 overflow-hidden w-screen h-screen
  }
  li {
    @apply list-none
  }
  /* start aside */
  aside .convs-conv {
    @apply flex flex-col justify-between bg-transparent px-[14px] py-[11px] transition duration-200 hover:bg-woodsmoke-950;
  }

  aside .conv-label {
    @apply text-sm font-bold text-text;
  }

  aside .conv-date {
    @apply text-xxs font-normal text-textDim;
  }

  aside .history-holder::-webkit-scrollbar {
    @apply w-1;
  }
  aside .history-holder::-webkit-scrollbar-thumb {
    @apply bg-woodsmoke-950;
  }
  .mobile-aside-toggle {
    display: none;
  }
  @media (max-width: 55em) {
    .mobile-aside-toggle {
      @apply absolute z-[9999] bg-transparent bg-[url("../assets/icon-hamburger.svg")] bg-no-repeat w-8 aspect-square border-none top-8 -right-16 block opacity-30
    }

    .mobile-aside-toggle[aria-expanded="true"] {
      @apply bg-[url("../assets/icon-close.svg")] opacity-30
    }
  }
  /* End aside */
  /* Start main */
  .chatbox .chat {
    @apply gap-4 flex my-10 mx-0 flex-row h-fit
  }
  .chatbox .outgoing {
    @apply justify-end
  }
  /* Typing area */
  @media (max-width: 55em) {
    main header .table .convs-conv {
      @apply mt-[1.3rem] ml-[6rem] w-full p-0 pb-[15px]
    }
  }
  #chat-input:valid ~ #send-btn {
    @apply opacity-100 cursor-pointer
  }
  #chat-input:valid ~ #send-btn:hover {
    @apply fill-textDim;
  }
  #chat-input::-webkit-scrollbar,
  .chatbot .chatbox::-webkit-scrollbar {
    @apply w-[5px]
  }
  /* End main */
}
@layer components {
  .bg-grid {
    @apply bg-[linear-gradient(to_right,#80808010_1px,transparent_1px),linear-gradient(to_bottom,#80808010_1px,transparent_1px)] bg-[size:24px_24px];
  }
  .bg-gr {
    @apply bg-gradient-to-b from-gray-900 via-purple-900 to-primary;
  }
  .btn {
    @apply border-[1px] border-solid border-neutral-100 bg-transparent px-4 py-[8px] font-mono text-text transition duration-200 hover:bg-[#7c3aed50];
  }
}