@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --main-color: #181818;
  --secondary-color: #4f4f4f;
  --primary-color: #000000;
  --primary-secondary: #171717;
  --white-color: #bbbbbb;
  --avWidth--: -webkit-fill-available;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 7px;
}
/* ::-webkit-scrollbar-track {
  @apply
} */
::-webkit-scrollbar-thumb {
  @apply bg-woodsmoke-900;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-woodsmoke-800;
}

body {
  display: flex;
  flex: 1;
  overflow: hidden;
  width: 100svw;
  height: 100svh;
}

li {
  list-style: none;
}

/* Start Aside */
aside {
  height: 100vh;
  display: flex;
  flex-flow: column;
  padding: 20px;
  color: var(--white-color);
  background-color: var(--primary-color);
  width: 260px;
  transition: 0.3s;
  z-index: 100;
}

.mobile-aside-toggle {
  display: none;
}

@media (max-width: 55em) {
  aside {
    position: fixed;
    transform: translateX(-100%);
    z-index: 1000;
    width: 300px;
  }
  aside[data-visible="true"] {
    transform: translateX(0);
  }

  .mobile-aside-toggle {
    position: absolute;
    z-index: 9999;
    background-color: transparent;
    background: url("../assets/icon-hamburger.svg");
    background-repeat: no-repeat;
    width: 2rem;
    border: 0;
    aspect-ratio: 1;
    top: 2rem;
    right: -4rem;
    display: block;
    opacity: 0.3;
  }

  .mobile-aside-toggle[aria-expanded="true"] {
    background-image: url("../assets/icon-close.svg");
    opacity: 0.3;
  }
}

.side-header {
  justify-content: space-between;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  zoom: 0.7;
}

.side-header-logo {
  height: 48px;
  width: 48px;
  background-color: var(--white-color);
  border-radius: 50%;
}

.side-butt {
  line-height: 16px;
  display: flex;
  margin-bottom: 20px;
  zoom: 0.9;
}

.side-butt button {
  color: var(--white-color);
  background-color: var(--main-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  font-size: 12px;
  width: calc(100% + 10px);
  cursor: pointer;
}

.table {
  flex: 1 1 auto;
  flex-flow: column;
}
aside .table {
  zoom: 0.8;
  border: 4px var(--primary-secondary) solid;
}

.convs-conv {
  display: flex;
  flex-flow: column;
  background-color: var(--primary-color);
  padding: 11px 14px;
  margin-bottom: 10px;
}
.convs-conv.active {
  border: 2px var(--primary-secondary) solid;
}

.conv-label {
  font-weight: bold;
  font-size: 14.5px;
}

.conv-date {
  margin-top: 9px;
  font-size: 12px;
  font-weight: normal;
}

.side-footer {
  padding-top: 20px;
  color: var(--white-color);
  font-size: 12px;
  font-weight: 500;
  flex: 0 1 0;
  display: flex;
  justify-content: space-between;
  zoom: 0.8;
}

.S-foot-butts {
  display: inline-flex;
}

.S-foot-butts .bord {
  align-items: center;
  height: auto;
  width: auto;
  border: 0;
  border-radius: 10px;
  padding: 10px;
  background-color: var(--main-color);
}

.bord button {
  border: 0;
  background-color: transparent;
  color: var(--white-color);
  cursor: pointer;
}

.new-conv button {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: var(--white-color);
  border: 0;
  border-radius: 10px;
  font-size: 12px;
  padding: 10px;
  cursor: pointer;
}

ion-icon {
  padding-right: 5px;
  font-size: 18px;
}
/* End Aside */
/* Start main */
main header {
  display: flex;
  gap: 40px;
  width: 100%;
}
main header .table {
  margin: 0;
  width: 100%;
  height: 100%;
  border: none;
}
main header .table .convs-conv {
  display: flex;
  flex-flow: column;
  padding: 11px 14px;
  border: none;
  margin: 0;
  border-radius: 0;
  background-color: transparent;
}
main header .table .convs-conv .conv-label {
  color: var(--white-color);
  font-weight: bold;
  font-size: 20px;
}
main header .table .convs-conv .conv-date {
  color: #777;
}
main .chat {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100%;
}
main .chat .input-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}
@media (max-width: 55em) {
  main header .table .convs-conv {
    margin-top: 1rem;
    margin-left: 6rem;
    width: 100%;
  }
}
/* End main */
/* Start chat */

/* Chat box */
.chatbox .chat {
  gap: 16px;
  display: flex;
  margin: 40px 0;
  flex-direction: row;
  height: fit-content;
}
.chatbox .outgoing {
  justify-content: flex-end;
}
.chatbox .outgoing .icon {
  background-image: url("../assets/Johan Liebert.jpeg");
}
/* Typing area */
#chat-input:valid ~ #send-btn {
  opacity: 1;
  cursor: pointer;
}
#chat-input:valid ~ #send-btn:hover {
  @apply fill-holderText;
}
#chat-input::-webkit-scrollbar,
.chatbot .chatbox::-webkit-scrollbar {
  width: 5px;
}
@media (max-width: 55em) {
  .chatbot {
    width: 100%;
    height: 100vh;
  }
  .typing-container {
    width: 100%;
  }
}
