<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Your website description" />
    <meta name="author" content="No0ne003 & PythonX-001" />
    <!-- External Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/fontawesome/css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='output.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}" />

    <title>Nexus</title>
  </head>

  <body>
    <!--! Start Aside Bar -->
    <aside
      class="primary-aside chat-sidebar relative z-[100] flex h-screen w-[260px] flex-shrink-0 flex-col bg-background-default text-text duration-300 data-[visibleM=true]:w-[300px] data-[visibleM=true]:translate-x-0 max-[880px]:fixed max-[880px]:z-[1000] max-[880px]:w-[300px] max-[880px]:-translate-x-full"
    >
      <button
        class="mobile-aside-toggle"
        aria-controls="primary-aside"
        aria-expanded="false"
      >
        <span class="sr-only">Menu</span>
      </button>
      <button
        class="desktop-aside-toggle absolute -right-3 top-[70px] z-[9999] flex aspect-square size-6 items-center justify-center border-[0.5px] border-solid border-background-900 bg-background-950 pb-0.5 pr-0.5 font-mono tracking-[-3px] text-text"
        aria-controls="primary-aside"
        aria-expanded="false"
      >
        <<
        <span class="sr-only">Menu</span>
      </button>
      <div
        class="s-header flex items-center justify-between px-5 py-6 pb-7 text-[20px] font-bold"
      >
        <div
          class="chatbot-name whitespace-nowrap font-azeret text-base tracking-wide text-text"
        >
          Nexus Ai
          <span class="block text-xxs font-normal tracking-normal text-textDim"
            >Ai Assistant</span
          >
        </div>
        <div class="header-logo bg-gr h-9 w-9 rounded-main"></div>
      </div>

      <div
        class="history-holder flex-[1_1_auto] overflow-y-hidden hover:overflow-y-scroll"
      >
        <ul class="chat-history h-full w-full">
          <li class="convs-conv active group">
            <div class="conv-label">
              New Chat Welcome {{ session['username'] }}
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              last Chat
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              hello
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              how to learn python
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              how to learn c++
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              how to get freinds
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              how to fix wall
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              how to break nokia
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label relative">
              how to forget programming bla bla bla
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              why i am alone, some random long text
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              i am board, me to, who are you?
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <li class="convs-conv group">
            <div class="conv-label">
              is am i sick
              <div
                class="text-shadow group-hover:w-20 group-hover:from-primary-default"
              ></div>
            </div>
          </li>
          <div
            class="sticky bottom-0 h-[14px] w-full bg-gradient-to-t from-background-default from-0% to-transparent"
          ></div>
        </ul>
      </div>
      <div
        class="s-footer mb-4 mt-16 flex flex-[0_1_0] justify-between px-5 pb-5 text-xs text-text"
      >
        <div class="foot-btn inline-flex gap-3">
          <button class="btn flex size-7 items-center justify-center px-2 py-2">
            <i class="fas fa-cog size-2"></i>
            <span class="sr-only">setting</span>
          </button>
          <button class="btn flex size-7 items-center justify-center px-2 py-2">
            <i class="fa-solid fa-puzzle-piece size-2"></i>
            <span class="sr-only">Support</span>
          </button>
        </div>
        <div class="n-conv">
          <button
            class="btn flex size-7 h-full items-center justify-center border-none bg-primary-default"
          >
            <i class="fa-solid fa-plus size-3"></i>
            <span class="sr-only">new chat</span>
          </button>
        </div>
      </div>
    </aside>
    <!--! End Aside Bar -->

    <!--! Start Main -->
    <main
      class="chatbot bg-grid flex h-full flex-1 flex-col overflow-x-hidden bg-background-default"
    >
      <header
        class="page-header sticky top-0 z-10 flex w-full gap-[40px] bg-background-default"
      >
        <div class="m-0 table h-full w-full flex-[1_1_auto] border-none">
          <ul
            class="convs-conv m-0 flex flex-col gap-[0.5rem] border-none bg-transparent px-[20px] py-[11px]"
          >
            <li
              class="conv-label font-azeret text-xl font-bold tracking-wide text-text"
            >
              New Chat welcome {{ session['username'] }}
            </li>
            <li class="conv-date text-xs font-normal text-textDim">
              01/24/2024
            </li>
          </ul>
        </div>
      </header>
      <div id="chat-display" class="h-full w-full overflow-y-auto overflow-x-hidden px-4">
        {% for chat_li in chat_history %}
            {{ chat_li | safe }}
        {% endfor %}
        <!--! test area -->
        <!--? working on default text -->
        <div id="default-screen" class="h-full w-full">
          <div class="container flex h-full w-full px-10">
            <div
              id="memeBox"
              class="box group relative flex justify-start border-solid bg-neutral-900"
            >
              <img
                id="memeImage"
                class="max-h-[40vh] md:max-h-[35vh] xl:max-h-[40vh] rounded-main"
                src=""
                alt=""
              />
              <div
                class="label px-[0.5em] py-[0.5em] invisible absolute flex h-full w-full flex-col justify-between shadow-text transition-all duration-300 group-hover:visible"
              >
                <div
                  class="links z-20 flex h-fit w-full justify-end gap-4 p-[5px] pb-[6px]"
                >
                  <a
                    id="memeSetting"
                    class="flex size-3 hover:scale-110 cursor-pointer items-center justify-center opacity-0 shadow-2xl shadow-black transition-all duration-300 group-hover:opacity-100"
                    href=""
                    target="_blank"
                  >
                    <i class="fas fa-cog text-primary-50"></i>
                  </a>
                  <a
                    id="memeLink"
                    class="size-3 cursor-pointer hover:scale-110 opacity-0 transition-all duration-300 group-hover:opacity-100"
                    href=""
                    target="_blank"
                  >
                    <svg width="14" height="14" viewBox="0 0 14 14">
                      <path
                        d="M10.8101 1.96222L0.726954 12.0453L1.66171 12.9801L11.7448 2.89698L11.9344 9.4447L13.208 9.07311L13.0134 2.35278C12.9877 1.46249 12.2434 0.718185 11.3531 0.692412L4.80762 0.502924L4.43487 1.77539L10.8101 1.96222Z"
                        stroke-width="0.542084"
                        class="fill-primary-50 stroke-primary-50"
                      ></path>
                    </svg>
                  </a>
                </div>
                <div
                class="title flex h-fit w-full justify-center items-end"
              >
                <p
                  id="memeTitle"
                  class="z-20 break-words text-sm w-full font-azeret text-primary-200"
                ></p>
              </div>
              </div>
            </div>
          </div>
        </div>
        <!--! test area -->
      </div>
      <div
        class="typing-container z-10 flex justify-center px-[10px] py-[20px]"
      >
        <div class="typing-content flex w-full max-w-[950px] items-end">
          <div class="typing-textarea relative flex w-full items-end">
            <textarea
              id="user-input"
              placeholder="'/' to see commands"
              class="h-[55px] w-full resize-none border-[1px] border-border bg-background-default py-[15px] pl-[20px] pr-[55px] font-inter text-base text-text outline-none placeholder:font-mono placeholder:text-background-700 focus:ring-0 focus-visible:ring-0"
              required
            ></textarea>
            <span
              id="send-button"
              class="absolute right-0 z-10 flex h-[55px] w-[55px] items-center justify-center fill-background-700 opacity-50 duration-300"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="transform: msfilter"
              >
                <path
                  d="m21.426 11.095-17-8A1 1 0 0 0 3.03 4.242l1.212 4.849L12 12l-7.758 2.909-1.212 4.849a.998.998 0 0 0 1.396 1.147l17-8a1 1 0 0 0 0-1.81z"
                ></path>
              </svg>
            </span>
          </div>
        </div>
      </div>
    </main>
    <!--! End Main -->

    <!--! js -->
    <script src="{{ url_for('static', filename='assets/fontawesome/js/all.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script src="{{ url_for('static', filename='js/defaultScreen.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nav.js') }}"></script>
  </body>
</html>
