<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Login for Anarmaxy Ai" />
    <meta name="author" content="No0ne003 & PythonX-001" />
    <!-- External Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/fontawesome/css/all.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css') }}"
    />

    <title>Login</title>
  </head>
  <body class="bg-gr">
    <div
      class="login bg-grid flex h-full min-h-screen w-full items-center justify-center"
    >
      <div class="wrapper w-[440px] px-10 py-7">
        <form id="form" method="post" action="{{ url_for('login') }}">
          <h1 class="text-center font-azeret text-4xl">Login</h1>
          <!--? username or email -->
          <div class="input-box relative">
            <input
              class="input caret-primary-300 focus:ring-1 focus:ring-primary-300 focus-visible:ring-1"
              type="text"
              id="username_email"
              name="username_email"
              autocomplete="off"
              required
            />
            <label
              class="pointer-events-none absolute left-0 py-[15px] pl-[20px] pr-[55px] font-mono text-background-700 transition-all duration-500"
              for="username_email"
              >username || Email</label
            >
          </div>
          <!--? password -->
          <div class="input-box relative">
            <input
              class="input caret-primary-300 focus:ring-1 focus:ring-primary-300 focus-visible:ring-1"
              type="password"
              id="password"
              name="password"
              required
            />
            <label
              class="pointer-events-none absolute left-0 py-[15px] pl-[20px] pr-[55px] font-mono text-background-700 transition-all duration-500"
              for="password"
              >Password</label
            >
            <i
              id="toggle-visibility"
              class="fa-solid fa-eye-slash absolute right-0 h-fit cursor-pointer px-[20px] py-[17px] text-sm"
              onclick="toggleVisibility()"
            ></i>
          </div>
          <!--? Error -->
          <div id="error" class="empty:m-0 mb-5">
            {% if error %}
            <p class="font-mono text-xs text-rose-800">{{ error }}</p>
            {% endif %}
          </div>
          <!--? Forgot Password -->
          <div class="forgot m-[-15px_0_15px] flex justify-end text-sm">
            <a class="link" href="#">Forgot Password ?</a>
          </div>
          <!--? Login btn -->
          <button class="btn h-[45px] w-full shadow-lg" type="submit">
            Login
          </button>
          <!--? Register -->
          <div class="register-link">
            <p class="mt-5 text-center text-sm">
              Dont't have an account ?
              <a class="link" href="register">Register</a>
            </p>
          </div>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/loginRegester.js') }}"></script>
  </body>
</html>
