<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Register for Anarmaxy Ai" />
    <meta name="author" content="No0ne003 & PythonX-001" />
    <!-- External Stylesheets -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='assets/fontawesome/css/all.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='output.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/style.css') }}"
    />

    <title>Register</title>
  </head>
  <body class="bg-gr">
    <div
      class="register bg-grid flex h-full min-h-screen w-full items-center justify-center"
    >
      <div class="wrapper w-[440px] px-10 py-7">
        <form method="post" action="{{ url_for('register') }}">
          <h1 class="text-center font-azeret text-4xl">Register</h1>
          <!--? username -->
          <div class="input-box relative">
            <input
              class="input caret-primary-300 focus:ring-1 focus:ring-primary-300 focus-visible:ring-1"
              type="text"
              id="username"
              name="username"
              autocomplete="off"
              required
            />
            <label
              class="pointer-events-none absolute left-0 py-[15px] pl-[20px] pr-[55px] font-mono text-background-700 transition-all duration-500"
              for="username"
              >username</label
            >
          </div>
          <!--? Email -->
          <div class="input-box relative">
            <input
              class="input caret-primary-300 focus:ring-1 focus:ring-primary-300 focus-visible:ring-1"
              type="email"
              id="email"
              name="email"
              autocomplete="email"
              oninput="handleEmailChange()"
              required
            />
            <label
              class="pointer-events-none absolute left-0 py-[15px] pl-[20px] pr-[55px] font-mono text-background-700 transition-all duration-500"
              for="email"
              >Email</label
            >
            <p id="emailError" class="font-mono h-4 mt-2 text-xs text-rose-800"></p>
          </div>
          <!--? Password -->
          <div class="password input-box mt-0 relative">
            <input
              class="input caret-primary-300 focus:ring-1 focus:ring-primary-300 focus-visible:ring-1"
              type="password"
              id="password"
              name="password"
              oninput="handlePasswordChange()"
              required
            />
            <label
              class="pointer-events-none absolute left-0 py-[15px] pl-[20px] pr-[55px] font-mono text-background-700 transition-all duration-500"
              for="password"
              >password</label
            >
            <i
              id="toggle-visibility"
              class="fa-solid fa-eye-slash absolute right-0 h-fit cursor-pointer px-[20px] py-[17px] text-sm"
              onclick="toggleVisibility()"
            ></i>
            <p id="passError" class="font-mono h-4 mt-2 text-xs text-rose-800"></p>
          </div>
          <!--? Error -->
          <div class="">
            {% if error %}
            <p id="erro" class="font-mono text-xs text-rose-800">
              {{ error }}
            </p>
            {% endif %}
          </div>
          <!--? Login btn -->
          <button class="btn mt-3 h-[45px] w-full shadow-lg" type="submit">
            Register
          </button>
          <!--? Login -->
          <div class="login-link">
            <p class="mt-5 text-center text-sm">
              Already have an account ?
              <a class="link" href="login">Login</a>
            </p>
          </div>
        </form>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/loginRegester.js') }}"></script>
  </body>
</html>
